<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device,initial-scale=1">
	<title>Document</title>
	<link rel="stylesheet" href="../css/style.min.css">
	<link rel="stylesheet" href="../resourse/ui/semantic.min.css">
</head>

<body>
	<div class="index_container">
		<div class="logo">传递</div>
		<canvas id="J_dotLine" class="J_dotLine" style="background-color: #F7F7F7;"></canvas>
		<div class="loginAndRegist">
			<h4 class="title">
				<a href="" title="">登录</a>
				<b>.</b>
				<a href="" title="">注册</a>
				<span class="title-line"></span>
			</h4>
			<div class="login">
				<form class="ui form">
					<div class="ui left icon input field">
						<input type="text" placeholder="手机号" name="tel">
						<i class="user icon"></i>
					</div>
					<div class="ui left icon input field">
						<input type="password" placeholder="密码" name="password">
						<i class="lock icon"></i>
					</div>
					<div class="do-not-forget">
						<input type="checkbox">记住我
					</div>
					<button type="" class="ui teal submit button">登陆</button>
					<span class="parting-line"></span>
					<div class="ui error message"></div>
				</form>
			</div>
			<div class="regist" style="display: none;">
				<form class="ui form">
					<div class="ui left icon input field inputdiv">
						<input type="text" placeholder="手机号" name="tel">
						<i class="user icon"></i>
					</div>
					<div class="ui left icon input field inputdiv">
						<input type="password" placeholder="密码" name="password">
						<i class="lock icon"></i>
					</div>
					<!-- 					<div class="ui left icon input field inputdiv">
						<input type="password" placeholder="重复密码" name="repassword">
						<i class="lock icon"></i>
					</div> -->
					<div class="ui left icon input field code inputdiv" id="login_code">
						<input type=text " placeholder="验证码 " name="code " >
						<i class="vine icon "></i>
						<img src=" " alt=" ">
					</div>
					<button type=" " class="ui teal submit button ">注册</button>
					<span class="parting-line "></span>
					<div class="ui error message "></div>
				</form>
				
			</div>
		</div>
	</div>
</body>
<script src="../js/commom.js "></script>
<script src="../js/index.js "></script>
<script>

</script>
</html>